@model IEnumerable<FlowTrace.Areas.BugTracker.Models.Bug>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form" asp-action="Index">
        <input type="text" class="form-control form-input" placeholder="Search anything...">
        <i class="fa fa-search"></i>
    </div>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createBug" onclick="createBug()">
        <i class="fa-sharp fa-solid fa-plus" style="color: white;"></i>
    </button>

    <a href="" role="button"><span class="glyphicon glyphicon-plus alert-success"></span></a>
    <div id="bugDashboard">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Summary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assignee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reporter)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        <label for="StatusCategory" class="control-label">Business Impact</label>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Summary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assignee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reporter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusCategory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="@("#bugDetails-" + item.Id)" data-url="@Url.Action($"/BugTracker/Details/{item.Id}")">
                                <i class="fa-sharp fa-solid fa-circle-info" style="color: white;"></i>
                            </button>
                            @await Html.PartialAsync("Details", item)
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@("#editBug-" + item.Id)" data-url="@Url.Action($"/BugTracker/Edit/{item.Id}")">
                                <i class="fa-sharp fa-solid fa-pencil" style="color: white;"></i>
                            </button>
                            @await Html.PartialAsync("Edit", item)
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="@("#deleteBug-" + item.Id)" data-url="@Url.Action($"/BugTracker/Delete/{item.Id}")">
                                <i class="fa-sharp fa-solid fa-trash-can" style="color: white;"></i>
                            </button>
                            @await Html.PartialAsync("Delete", item)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function createBug() {
        $.ajax({
            type: "GET",
            url: "/BugTracker/Bugs/Create",
            success: function (data) {
                $("#bugDashboard").html(data);
                $("#createBug").modal('show');
            }
        });
    }
</script>
