@model IEnumerable<FlowTrace.Areas.BugTracker.Models.Bug>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h6 style="color: lightslategray">
    Projects / Bug Tracking
</h6>
<row style="display:flex; justify-content:space-between">
    <h3>
        Issues
    </h3>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createBug" onclick="createBug()">
        Export
    </button>
</row>
<br />

<form asp-asp-controller="Bugs" asp-action="Index">
    <div class="form">
        <input type="text" name="searchString" class="form-control form-input" placeholder="Search Issues" style="font-size: 13px"><i class="fa fa-search"></i>
    </div>
</form>
<br />

<div class="container" style="background-color: white">
    <a href="" role="button"><span class="glyphicon glyphicon-plus alert-success"></span></a>
    <div id="bugDashboard">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th style="width: 400px">
                        @Html.DisplayNameFor(model => model.Summary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assignee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reporter)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        <label for="StatusCategory" class="control-label">Impact</label>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createBug" onclick="createBug()">
                            <i class="fa-sharp fa-solid fa-plus" style="color: white;"></i> Create
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="font-weight: bold; font-size: 13px; color: lightslategray;">
                            FT-@Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td style="font-weight: bold; font-size: 15px; color: cornflowerblue;">
                            @Html.DisplayFor(modelItem => item.Summary)
                        </td>
                        <td style="font-weight: bold; font-size: 13px; color: lightslategray;">
                            @Html.DisplayFor(modelItem => item.Assignee)
                        </td>
                        <td style="font-weight: bold; font-size: 13px; color: lightslategray;">
                            @Html.DisplayFor(modelItem => item.Reporter)
                        </td>
                        <td style="font-weight: bold; font-size: 13px; color: lightslategray;">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td style="font-weight: bold; font-size: 13px; color: lightslategray;">
                            @Html.DisplayFor(modelItem => item.StatusCategory)
                        </td>
                        <td style="font-weight: bold; font-size: 13px; color: lightslategray;">
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="@("#bugDetails-" + item.Id)" data-url="@Url.Action($"/BugTracker/Details/{item.Id}")">
                                <i class="fa-sharp fa-solid fa-circle-info" style="color: white"></i>
                            </button>
                            @await Html.PartialAsync("Details", item)
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@("#editBug-" + item.Id)" data-url="@Url.Action($"/BugTracker/Edit/{item.Id}")">
                                <i class="fa-sharp fa-solid fa-pencil" style="color: white;"></i>
                            </button>
                            @await Html.PartialAsync("Edit", item)
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="@("#deleteBug-" + item.Id)" data-url="@Url.Action($"/BugTracker/Delete/{item.Id}")">
                                <i class="fa-sharp fa-solid fa-trash-can" style="color: white;"></i>
                            </button>
                            @await Html.PartialAsync("Delete", item)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<nav aria-label="Bug Dashboard Nav">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>

<script>
    function createBug() {
        $.ajax({
            type: "GET",
            url: "/BugTracker/Bugs/Create",
            success: function (data) {
                $("#bugDashboard").html(data);
                $("#createBug").modal('show');
            }
        });
    }
</script>
